@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  color: white;
}

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 0.5px rgb(65, 68, 71);
  }

  .iframeBg {
    box-sizing: border-box;
    height: 56.25vw;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    width: 177.778vh;
    z-index: 2;
  }
}
